<footer class="row border-top margin-top padding-top">
	<div class="footer__section"><%= partial "nav" %></div>
	<div class="footer__section">
		<a id="contact"></a>
		<h4 class="margin-top-0"><%= dato.contact.title %></h4>
		<%= markdownify(dato.contact.body) %>
		<p>Site by <a href="http://joeschoech.com">JS</a>, built with <a href="https://middlemanapp.com/">Middleman</a>.</p>
	</div>
	<div class="footer__section">
		<h4 class="margin-top-0 margin-left-sm">
			<span class="highlight"><%= dato.subscribe.footer_title %></span>
		</h4>
		<%= partial "sub-form" %>
	</div>
</footer>