<% current_page.data.title = dato.paper_home.title %>

<h1><%= dato.paper_home.title %></h1>
<h3 class="margin-top-0 border-bottom padding-bottom-sm margin-bottom-sm"><%= markdownify(dato.paper_home.body) %></h2>
<% dato.papers.sort_by(&:position)[0...1].each do |b| %>
	<h2>
		<div class="margin-sides-sm"> 
			<span class="highlight">Preview</span>
		</div>
		<%= link_to b.title, "/papers-full/#{b.title.parameterize}/index.html" %>
	</h2>
	<div class="excerpt">
		<% b.body[0...1].each do |e| %>
			<% case e.item_type.api_key %>	
			<% when "text" %>
				<%= markdownify(e.text.truncate_words(108)) %>
			<% when "image" %>
				<%= image_tag e.image.url(w: 720, fit: :max), alt: e.image.alt %>
			<% end %>
		<% end %>
	</div>
<% end %>

<a name="subscribe"><%= partial "sub" %></a>

<% dato.papers.sort_by(&:position)[1...100].each do |b| %>
	<h2><%= b.title %></h2>
	<div class="excerpt">
		<% b.body[0...1].each do |e| %>
			<% case e.item_type.api_key %>	
			<% when "text" %>
				<%= markdownify(e.text.truncate_words(108)) %>	
			<% when "image" %>
				<%= image_tag e.image.url(w: 720, fit: :max), alt: e.image.alt %>
			<% end %>
		<% end %>
		<p><a href="#subscribe">Subscribe to Read This Paper</a></p>
	</div>
<% end %>