<% current_page.data.title = dato.paper_home.title %>

<div class="border-bottom padding-bottom-xs margin-bottom-sm">
	<h1><%= dato.paper_home.title %></h1>
	<h3 class="margin-top-0" ><%= markdownify(dato.paper_home.body) %></h2>
</div>

<% dato.papers.sort_by(&:position)[0...1].each do |b| %>
	<h2>
		<div class="margin-left-sm"> 
			<span class="highlight">Preview</span>
		</div>
		<%= link_to b.title, "/papers-full/#{b.title.parameterize}/index.html" %>
	</h2>
	<div class="excerpt">

		<% if b.home_image != nil %>
			<div class="margin-top-sm"><%= image_tag b.home_image.url(w: 720, fit: :max), alt: b.home_image.alt %></div>
		<% end %>
		<% b.body[0...1].each do |e| %>
			<% case e.item_type.api_key %>	
			<% when "text" %>
				<%= markdownify(e.text.truncate_words(108)) %>
			<% end %>
		<% end %>
	</div>
<% end %>

<a name="subscribe"><%= partial "sub" %></a>

<% dato.papers.sort_by(&:position)[1...100].each do |b| %>
	<h2><%= b.title %></h2>
	<div class="excerpt">
		<% if b.home_image != nil %>
			<div class="margin-top-sm"><%= image_tag b.home_image.url(w: 720, fit: :max), alt: b.home_image.alt %></div>
		<% end %>
		<% b.body[0...1].each do |e| %>
			<% case e.item_type.api_key %>	
			<% when "text" %>
				<%= markdownify(e.text.truncate_words(108)) %>
			<% end %>
		<% end %>
		<p><a href="#subscribe">Subscribe to Read This Paper</a></p>
	</div>
<% end %>