<% current_page.data.title = paper.title %>

<h1><%= paper.title %></h1>
<% paper.body[0...1].each do |e| %>
	<% case e.item_type.api_key %>
		<% when "caption" %>
			<div class="caption"><%= e.caption %></div>		
		<% when "text" %>
			<p><%= markdownify(e.text.truncate_words(108)) %>
		<% when "image" %>
			<%= image_tag e.image.url(w: 720, fit: :max), alt: e.image.alt %>
	<% end %>
<% end %>

<%= partial "sub" %>