<h1>Services</h1>

<% dato.services.each do |b| %>
	<h2><%= link_to b.title, "/services/#{b.title.parameterize}/index.html" %></h2>
	<% b.body.each do |e| %>
		<% case e.item_type.api_key %>
		<% when "subtitle" %>
			<h2><%= e.subtitle %></h2>		
		<% when "text" %>
			<p><%= markdownify(e.text) %>
		<% when "image" %>
			<%= image_tag e.image.url(w: 720, fit: :max), alt: e.image.alt %>
		<% when "file" %>
			<p><%= link_to e.title, e.file.url %></p>
		<% when "video" %>
			<%= e.video.url %>
		<% end %>
	<% end %>
<% end %>