---
title: Services
---

<h1 class="border-bottom padding-bottom-xs margin-bottom-sm">Services</h1>
<% dato.service.body.each do |e| %>
	<% case e.item_type.api_key %>
		<% when "caption" %>
			<div class="caption"><%= e.caption %></div>		
		<% when "text" %>
			<%= markdownify(e.text) %>
		<% when "footnote" %>
			<div class="border-top margin-top-sm padding-top-sm"><%= markdownify(e.footnote) %></div>
		<% when "image" %>
			<div class="body-image"><%= image_tag e.image.url(w: 720, fit: :max), alt: e.image.alt %></div>
		<% when "file" %>
			<div class="border-top margin-top-sm padding-top-sm"><p><%= link_to e.title, e.file.url %></p></div>
		<% when "video" %>
			<%= e.video.url %>
	<% end %>
<% end %>
